.bill-toggle-btn::after {
  display: inline-block;
  margin-left: 5px;
  content: '+'
}

.bill-toggle-btn[aria-expanded=true]::after {
  content: '-'
}

.collapsible {
  visibility: hidden;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height .3s linear,
    overflow-y .75s linear,
    visibility .75s linear;
}


.collapsible[aria-hidden=false] {
  visibility: visible;
  overflow-y: default;
  max-height: 1000px;
  transition: all .75s linear;
}