.bills-list-container {
  padding: 75px 0px;
}

.bills-list {
  margin: 0;
  padding: 0;
}

.bills-list li {
  list-style: none;
  padding: 15px;
}

.bill-button {
  display: flex;
  flex-direction: row;

  color: #575757;
  background-color: #FEFEFE;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;

  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

.bill-button[aria-expanded=true] {
  background-color: #4d4361;
  color: #FEFEFE;
}

.bill-toggle-btn[aria-expanded=true] {
  background-color: #9488ac;
}

.bill-toggle-btn {
  align-self: center;
  flex: 20%;

  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  height: 50px;
  padding: 15px 0px;
  text-align: center;
}

.bill-info {
  flex: 80%;
}

.bill-title {
  font-size: 115%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.bill-amt {
  font-size: 180%;
  margin: 0;
  padding: 0;
}

.bill-toggle-btn::after {
  content: '▼';
}

.bill-toggle-btn[aria-expanded=true]::after {
  content: '▲';
}

.expanded-bill {
  color: #575757;
  padding: 10px;
  text-transform: capitalize;
}

.expanded-title {
  margin: 0;
  padding: 0;
}

.expanded-amt {
 font-size: 150%;
 margin: 0;
}

.expanded-int {
  color: #575757;
  font-size: 80%;
  text-transform: uppercase;
}

.expanded-button-container {
  display: flex;
  flex-flow: row wrap;
}

.expanded-button {
  flex: 1;
  height: 35px;
  margin: 5px;

  background-color: #4C4360;
  border: none;
  border-radius: 5px;
  color: #FEFEFE;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.collapsible {
  visibility: hidden;
  overflow-y: hidden;
  max-height: 0;
  transition: max-height .3s linear,
    overflow-y .75s linear,
    visibility .75s linear;
}

.collapsible[aria-hidden=false] {
  visibility: visible;
  overflow-y: default;
  max-height: 1000px;
  transition: all .75s linear;
}