.landing-page {
  padding: 25px 0px;
}

.landing-page h1, p {
}

.landing-page h1 {
  color: #434D61;
  margin: 0;
  text-align: center;
}

.landing-page p {
  border-bottom: 1px solid rgb(223, 223, 223);
  color: #575757;
  margin: 0;
  padding: 25px 15px;
  text-align: center;
}