.login-form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  background-color: #FEFEFE;
  border-radius: 5px;
  padding: 25px 25px;
  margin: 10px;

  /* -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15); */
}

.form-input, .login-form input, .login-form label {
  display: block;
  width: 100%;
}

.login-form label {
  padding: 10px 0px;
}

.login-form label, .login-form button, .login-form input, .bill-field {
  color: #575757;
}

.login-form .bill-select {
  margin: 0;
}

.login-form button {
  flex: 1;

  background-color: #434D61;
  border: none;
  border-radius: 5px;
  color: #FEFEFE;
  font-weight: bold;
  height: 35px;
  letter-spacing: 1px;
  margin: 5px 0px;
  text-transform: uppercase;
  width: 100%;
}

.login-form button:nth-of-type(1) {
  margin-top: 25px;
}
