/* For mobile phones: */

.navbar {
  background-color: #675FFD;
  color: white;
}

.appName {
  text-transform: uppercase;
}

@media only screen and (min-width: 768px)  {
  /* For desktop: */

  .navbar {
    background-color: aquamarine;
  }

}