/* For mobile phones: */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: #444E62;
  color: white;
  padding: 10px;
}

.navbar h1 {
  flex: 1;
  margin: 0;
}

.navbar ul {
  display: inline-flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
}

.navbar li {
  align-items: center;
  display: flex;
  flex: 1;

  list-style: none;
  text-align: center;
}

.navbar a {
  flex: 1;

  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navbar button {
  flex: 1;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.navbar p {
  margin: 0;
  padding: 0;
}

.dropdown-menu-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #3c517b;
  margin: 0;
  padding: 10px;
  text-align: right;
}

.dropdown-menu-ul li {
  flex: 1;
  list-style: none;

  padding: 10px 0px;
  border-bottom: 1px solid whitesmoke;
}

.dropdown-menu li:nth-child(3) {
  border: none; /* remove border from last list item */
}

.dropdown-menu-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px)  {
  /* For desktop: */
  .navbar a {
    flex: 70%;
  }

  .navbar ul{
    flex: 15%;
  }

  .navbar h1 {
    flex: 80%;
  }

  .navbar button {
    flex: 20%;
  }

  .dropdown-menu-button {
    width: 20%;
  }

  .dropdown-menu-ul .bill-form {
    margin-left: auto;
  }

  .dropdown-menu-ul .income-form {
    margin-left: auto;
  }
}